.footer {
  background-color: var(--secondaryColor);
  background-image: url("/src/assets/images/footerbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .inner {
    padding: 2% 3%;
    .row1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      padding: 30px 0;
      border-bottom: 1px solid rgb(38, 90, 38);
      .box {
       display: flex;
       align-items: center;
        gap: 20px;
        flex: 1;
        min-width: 270px;
        .left {
          @include centerAll;
          padding: 20px;
          border-radius: 20px;
          background-color: var(--whiteColor);
          transition: 0.3s all ease-in-out;
          &:hover {
            scale: 1.05;
            cursor: pointer;
          }
          svg {
            width: 40px;
            height: 40px;
            object-fit: contain;
          }
          .right {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
    .row2 {
      margin: 4% auto;
      display: flex;
      padding: 0 3%;
      gap: 30px;
flex-wrap: wrap;
     
      .column {
        flex: 1;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .list {
          list-style-position: inside;

          li {
            margin: 15px 0 0 0;
            cursor: pointer;
          }
        }
        .footer-logo {
          width: 180px;
          height: auto;
          object-fit: contain;
        }
        .socials {
          display: flex;
          gap: 10px;
          align-items: center;
          div,a{
            @include centerAll;
          }
          img {
            width: 25px;
            height: 25px;
            object-fit: contain;
            cursor: pointer;
          }
        }
      }
    }
    .row3 {
      margin: 6% auto 1% auto;
      padding: 20px;
      background-color: var(--whiteColor);
      @include centerAll;
      border-radius: 25px;

    }
  }
}
