.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    margin: 10px 20px;
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .boxes {
        @include centerAll;
        gap: 10px;
        a {
          text-decoration: inherit;
          color: inherit;
        }
        .icon {
          @include centerAll;
          img {
            width: 15px;
            height: 15px;
            object-fit: contain;
          }
        }
      }
    }
    .right {
      @include centerAll;
      gap: 10px;
      .icon {
        width: 26px;
        height: 26px;
        border-radius: 7px;
        @include centerAll;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        img {
          width: 18px;
          height: 18px;
          object-fit: contain;
        }
        background-color: var(--blackColor);
        &:hover {
          background-color: var(--primaryColor);
          img {
            filter: brightness(0%);
          }
        }
      }
    }
  }
  .bottom {
    padding: 1%;
    margin: 10px 4%;
    border-radius: 30px;
    background-color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    box-shadow: 0px 10px 15px #6163630a;
    .left {
      img {
        width: 150px;
        height: auto;
        object-fit: contain;
      }
    }
    .right {
      .menu-items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        .item {
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          &:hover {
            color: var(--primaryColor);
          }
        }
        .active {
          color: var(--primaryColor);
        }
        .drop-down-holder {
          position: relative;
          .drop-down {
            position: absolute;
            left: -80px;
            top: 40px;
            box-shadow: 0px 1px 12px #00000040;
            width: 400px;
            border-radius: 25px;
            padding: 25px;
            background-color: var(--whiteColor);
            display: flex;
            gap: 20px;
            .left,
            .right {
              flex: 1;
            }
            .left {
              display: flex;
              flex-direction: column;
              gap: 10px;
              border-right: 2px solid grey;
              margin-right: 20px;
            }
          }
          .drop-down2 {
            position: absolute;
            left: -80px;
            top: 40px;
            box-shadow: 0px 1px 12px #00000040;
            width: 250px;
            border-radius: 25px;
            padding: 25px;
            background-color: var(--whiteColor);
            display: flex;
            gap: 20px;
          }
        }
      }
      .collapsed-menu {
        display: none !important ;
      }
    }
  }
}
