@media (max-width: 1076px) {
  .header {
    .bottom {
      .right {
        .expanded-menu {
          display: none;
        }
        .collapsed-menu {
          display: block !important;
        }
      }
    }
  }
  .responsive-header-nav-menu-items {
    padding: 30px 15px;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
    gap: 20px;
    .item {
      font-weight: 600;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        color: var(--primaryColor);
      }
    }
    .drop-down-collapsed {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      gap: 5px;
      a {
        display: list-item;
      }
    }
    .active {
      color: var(--primaryColor);
    }
  }
  .solution-types {
    .boxes-holder {
      flex-wrap: wrap;
    }
  }
  .packages .inner .package-row {
    flex-wrap: wrap;
  }
  .ceo-message .inner {
    flex-wrap: wrap;
    .two {
      width: 40%;
      img {
        width: 100%;
      }
    }
    .three {
      display: none;
    }
  }
  .why-us .inner .right,
  .power .inner .right,
  .ev2 .inner .right,
  .ev-section .inner .right ,
  .about-section .inner .right {
    width: 90% !important;
  }
  .project-section .inner {
    flex-wrap: wrap !important;
    .left {
      width: 70%;
    }
    .right {
      width: 95%;
    }
  }
}

@media (max-width: 976px) {
  .feedback-page .inner {
    padding: 30px 10px;
  }
  .feedback-page .inner .form {
    width: 90%;
    padding: 15px;
  }
  .feedback-page .inner .form .question .answer-holder {
    flex-direction: column;
    .answers {
      flex-direction: row;
      justify-content: flex-start;
      width: auto;
    }
  }
  .feedback-page .inner .form .question .answer-holder input[type="radio"] {
    margin: 10px !important;
  }
}
@media (max-width: 576px) {
  .feedback-page .inner .form .double-field {
    flex-wrap: wrap;
  }
  .contact-us .contact-form .inner .form input {
    margin: 5px;
  }
  .contact-us .contact-form .inner .form {
    width: 80% !important;
    margin: auto;
    padding: 15px;
  }
  .products-page .inner {
    padding: 10px !important;
  }
  .elc .inner .calculator .headerRow {
    gap: 10px;
  }
  .elc .inner .calculator .rows {
    margin: 5% auto !important;
    .col1 {
      max-width: 30%;
      margin-right: 10px;
      overflow: hidden;
    }
    gap: 10px !important;
    select {
      width: 40px;
    }
  }
  .elc .inner .calculator .rows .right input {
    width: 30px;
  }
  .elc .inner {
    padding: 3% !important;
  }
  .hero-section .inner {
    padding: 30px !important;
  }
  html {
    font-size: 9px !important;
  }
  .ev-section .inner .left ,
  .about-section .inner .left {
    width: 100% !important;
    .image1 {
      width: 100% !important;
    }
  }
  .why-us .inner .left,
  .ev2 .inner .left ,
  .power .inner .left {
    width: 100% !important;
    .image1 {
      width: 100% !important;
    }
  }
  .counter .inner {
    padding: 12% 4%;
  }
  .ceo-message .inner {
    // flex-wrap: wrap-reverse !important;
    .two {
      order: 1;
      width: 80%;
    }
    .one {
      order: 2;
      width: 90%;
    }
    .three {
      order: 3;
    }
  }
  .slider .slide .inner {
    width: 80% !important;
    .text-3 {
      font-size: 42px !important;
      line-height: 42px;
    }
  }
  .about-section .inner .left .image2,
  .ev-section .inner .left .image2,
  .why-us .inner .left .image2,
  .ev2 .inner .left .image2 ,
  .power .inner .left .image2 {
    width: 70%;
  }
  .solution-types .inner {
    padding: 50px 10px !important ;
    .boxes-holder {
      .box {
        .white-layer,
        .content {
          width: 280px !important;
        }
        width: 280px !important;
      }
    }
  }
  .packages .inner {
    padding: 50px 20px !important;
    .package-row .package {
      width: 95%;
    }
  }
  .project-section .inner .left {
    width: 100%;
    .image1 {
      width: 100%;
    }
    .image2 {
      width: 80%;
    }
  }
}
@media (max-width: 536px) {
  .header {
    .top {
      display: none !important;
    }
    .bottom {
      margin-top: 30px;
      padding: 10px;
    }
  }
}
@media (max-width: 1300px) {
  .ceo-message .inner {
    .three {
      display: none;
    }
  }
  .about-section .inner {
    flex-wrap: wrap;
    .left {
      width: 70%;
    }
    .right {
      width: 75%;
    }
  }
  .ev-section .inner {
    flex-wrap: wrap;
    .left {
      width: 70%;
    }
    .right {
      width: 75%;
    }
  }
  .why-us .inner,
  .ev2 .inner ,
  .power .inner {
    flex-wrap: wrap;
    .left {
      width: 70%;
    }
    .right {
      width: 75%;
    }
  }
  .contact-us .contact-options .inner .cards {
    flex-wrap: wrap;
  }
}
