@import "./colors";
@import "./fonts";
@import "./global";
@import "./typography";
@import "./mixins";
@import "./buttons";
@import "./header";
@import "./slider";
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}
